In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("movies.csv")
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [30]:
data = df[['index', 'genres', 'keywords','popularity','tagline', 'title','vote_average', 'vote_count','director']]

In [66]:
data.sample()

,index,genres,keywords,popularity,tagline,title,vote_average,vote_count,director
634,634,Action Science Fiction,saving the world artificial intelligence man v...,104.309993,Welcome to the Real World.,The Matrix,7.9,8907,Lilly Wachowski

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         4803 non-null   int64
 1   genres        4775 non-null   object
 2   keywords      4391 non-null   object
 3   popularity    4803 non-null   float64
 4   tagline       3959 non-null   object
 5   title         4803 non-null   object
 6   vote_average  4803 non-null   float64
 7   vote_count    4803 non-null   int64
 8   director      4773 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 337.8+ KB

In [71]:
data1 = data.dropna()

In [74]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3757 entries, 0 to 4798
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         3757 non-null   int64
 1   genres        3757 non-null   object
 2   keywords      3757 non-null   object
 3   popularity    3757 non-null   float64
 4   tagline       3757 non-null   object
 5   title         3757 non-null   object
 6   vote_average  3757 non-null   float64
 7   vote_count    3757 non-null   int64
 8   director      3757 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 293.5+ KB

In [75]:
data1.columns

Index(['index', 'genres', 'keywords', 'popularity', 'tagline', 'title',
       'vote_average', 'vote_count', 'director'],
      dtype='object')

In [82]:
data1.director.value_counts()

Steven Spielberg    27
Clint Eastwood      17
Renny Harlin        15
Ridley Scott        15
Martin Scorsese     15
                    ..
Matt Williams        1
Dennis Iliadis       1
Rick Rosenthal       1
Sara Sugarman        1
Shane Carruth        1
Name: director, Length: 1753, dtype: int64

#  Which director has the movies released

In [89]:
data1.groupby("director")["index"].count().sort_values(ascending = False).head(10)

director
Steven Spielberg     27
Clint Eastwood       17
Martin Scorsese      15
Renny Harlin         15
Ridley Scott         15
Tim Burton           14
Oliver Stone         14
Robert Rodriguez     14
Steven Soderbergh    14
Woody Allen          13
Name: index, dtype: int64

# What is the most viewed Genre

In [88]:
data1.groupby("genres")["index"].count().sort_values(ascending = False).head(10)

genres
Drama                   243
Comedy                  221
Drama Romance           118
Comedy Romance          114
Comedy Drama            100
Comedy Drama Romance     79
Horror Thriller          78
Horror                   50
Drama Thriller           49
Crime Drama Thriller     39
Name: index, dtype: int64

# Which movie scored the highest vote count

In [112]:
data1.groupby("title")["vote_count"].sum().sort_values(ascending = False).head(10)

title
Inception                  13752
The Dark Knight            12002
Avatar                     11800
The Avengers               11776
Deadpool                   10995
Interstellar               10867
Django Unchained           10099
Guardians of the Galaxy     9742
The Hunger Games            9455
Mad Max: Fury Road          9427
Name: vote_count, dtype: int64

# Which director got the highest votes

In [113]:
data1.groupby("director")["vote_count"].sum().sort_values(ascending = False).head(10)

director
Christopher Nolan    62653
Steven Spielberg     59771
Peter Jackson        45533
Quentin Tarantino    43339
Ridley Scott         36157
David Fincher        35319
James Cameron        32819
Martin Scorsese      31344
Robert Zemeckis      30916
Tim Burton           28801
Name: vote_count, dtype: int64

# How many records contain "love" in their keyword

In [127]:
data1[data1["keywords"].str.lower().str.contains("love")].count()[0]

207

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [129]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3757 entries, 0 to 4798
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         3757 non-null   int64
 1   genres        3757 non-null   object
 2   keywords      3757 non-null   object
 3   popularity    3757 non-null   float64
 4   tagline       3757 non-null   object
 5   title         3757 non-null   object
 6   vote_average  3757 non-null   float64
 7   vote_count    3757 non-null   int64
 8   director      3757 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 293.5+ KB